:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --blue-color: #2196F3;
    --footter-color: #2F303A;
    --title-color: #212121;
    --text-color: #757575;
    --primary-font-family: 'Roboto';
}
