.main-hero {
    background-color: var(--footter-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../image/Img.jpg);
    background-size: cover;
    max-width: 1600px;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /*background: var(--footter-color);*/
    color: var(--white-color);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
